@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}
.Navbar {
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-direction: row;
    background-color: #c4c4c4;
    width: 100vw;
    height: 8vh;
  }

  .logo {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
}

  .nameAndLogo {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

  }

